.VideoRoot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iFrameRoot {
  width: 100%;
}

.animamRoot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.VideoRootMain {
  position: relative;
  width: 100%;
  height: 100%;
}

.iFrameRootMain {
  width: 100%;
  height: 100%;
}
